<mat-card>
  <mat-card-header class="title-center">
    <mat-card-title>Jantek Web Report</mat-card-title>
  </mat-card-header>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="web-report-container">
      <!-- Type -->
      <div class="web-report-item">
        <mat-label>Type: </mat-label>
        <br>
        <mat-form-field>
          <mat-select formControlName="type">
            <mat-option value="Time Card Detail">Time Card Detail</mat-option>
            <mat-option value="Time Card Summary">Time Card Summary</mat-option>
            <mat-option value="Employee Report">Employee Report</mat-option>
            <mat-option value="Exception Report">Exception Report</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- Sort by -->
      <div class="web-report-item">
        <mat-label>Sort by:</mat-label>
        <br>
        <mat-form-field>
          <mat-select formControlName="sortBy" (selectionChange)="sortByChanged($event.value)">
            <mat-option value="Employee #">Employee #</mat-option>
            <mat-option value="Last Name">Last Name</mat-option>
            <mat-option value="SSN">SSN</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="web-report-container">
      <!-- Employee ID -->
      <div class="web-report-item">
        <mat-label>Employee ID</mat-label>
        <br>
        <mat-form-field>
          <mat-label>From:</mat-label>
          <input matInput placeholder="00201" formControlName="employeeIDFrom">
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>To:</mat-label>
          <input matInput placeholder="123456" formControlName="employeeIDTo">
        </mat-form-field>
      </div>

        <!-- Last Name -->
      <div class="web-report-item">
        <mat-label>Last Name</mat-label>
        <br>
        <mat-form-field>
          <mat-label>From:</mat-label>
          <input matInput placeholder="00201" formControlName="lastNameFrom">
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>To:</mat-label>
          <input matInput placeholder="123456" formControlName="lastNameTo">
        </mat-form-field>
      </div>

      <!-- Activity -->
      <div class="web-report-item">
        <mat-label>Activity</mat-label>
        <mat-radio-group formControlName="activity">
        <mat-radio-button value="Active Only" [checked]="true">Active Only</mat-radio-button>
        <mat-radio-button value="Inactive Only">Inactive Only</mat-radio-button>
        <mat-radio-button value="All">All</mat-radio-button>
      </mat-radio-group>
      </div>
    </div>

    <div class="web-report-container">
      <!-- Date Range -->
      <div class="web-report-item">
        <mat-label>Date Range: </mat-label>
        <br>
        <mat-form-field>
          <mat-select formControlName="dateRange" (selectionChange)="dateRangeChanged($event.value)">
            <mat-option value="Current Pay Period">Current Pay Period</mat-option>
            <mat-option value="Previous Pay Period">Previous Pay Period</mat-option>
            <mat-option value="Current Week">Current Week</mat-option>
            <mat-option value="Last Week">Last Week</mat-option>
            <mat-option value="Today">Today</mat-option>
            <mat-option value="Yesterday">Yesterday</mat-option>
            <mat-option value="Custom Date Range">Custom Date Range</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- Date Range From -->
      <div class="web-report-item">
        <mat-label>From: </mat-label>
        <br>
        <mat-form-field>
          <input matInput [matDatepicker]="picker1" formControlName="dateRangeFrom">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </div>

      <!-- Date Range To -->
      <div class="web-report-item">
        <mat-label>To: </mat-label>
        <br>
        <mat-form-field>
          <input matInput [matDatepicker]="picker2" formControlName="dateRangeTo">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

    <div class="web-report-container">
      <!-- Company/Department From -->
      <div class="web-report-item">
        <mat-label>From</mat-label>
        <br>
        <mat-form-field>
          <mat-label>Company</mat-label>
          <mat-select formControlName="companyFrom">
            <mat-option value="ENGINEERING">ENGINEERING</mat-option>
            <mat-option value="FACILITY">FACILITY</mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Department</mat-label>
          <mat-select formControlName="departmentFrom">
            <mat-option value="CHEMISTRY">CHEMISTRY</mat-option>
            <mat-option value="CIVIL">CIVIL</mat-option>
            <mat-option value="DEPARTMENT">DEPARTMENT</mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Shift</mat-label>
          <mat-select formControlName="shiftFrom">
            <mat-option value="0700/1530 M-F">0700/1530 M-F</mat-option>
            <mat-option value="0730/1600 M-F">0730/1600 M-F</mat-option>
            <mat-option value="0800/1630 M-F">0800/1630 M-F</mat-option>
            <mat-option value="0830/1700 M-F">0830/1700 M-F</mat-option>
            <mat-option value="0900/1730 M-F">0900/1730 M-F</mat-option>
            <mat-option value="0900/1700 M,TH">0900/1700 M,TH</mat-option>
            <mat-option value="Flexible Shift">Flexible Shift</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- Company/Department To -->
      <div class="web-report-item">
        <mat-label>To</mat-label>
        <br>
        <mat-form-field>
          <mat-label>Company</mat-label>
          <mat-select formControlName="companyTo">
            <mat-option value="ENGINEERING">ENGINEERING</mat-option>
            <mat-option value="FACILITY">FACILITY</mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Department</mat-label>
          <mat-select formControlName="departmentTo">
            <mat-option value="CHEMISTRY">CHEMISTRY</mat-option>
            <mat-option value="CIVIL">CIVIL</mat-option>
            <mat-option value="DEPARTMENT">DEPARTMENT</mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Shift</mat-label>
          <mat-select formControlName="shiftTo">
            <mat-option value="0700/1530 M-F">0700/1530 M-F</mat-option>
            <mat-option value="0730/1600 M-F">0730/1600 M-F</mat-option>
            <mat-option value="0800/1630 M-F">0800/1630 M-F</mat-option>
            <mat-option value="0830/1700 M-F">0830/1700 M-F</mat-option>
            <mat-option value="0900/1730 M-F">0900/1730 M-F</mat-option>
            <mat-option value="0900/1700 M,TH">0900/1700 M,TH</mat-option>
            <mat-option value="Flexible Shift">Flexible Shift</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="submit-button">
      <button
        mat-raised-button
        type="submit"
        color="primary">
        Report
      </button>
      <button
        mat-raised-button
        type="button"
        color="primary"
        (click)="onLogoff()">
        Logoff
      </button>
    </div>

  </form>
</mat-card>

